{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% for category in categories %}
    <tr>
        <td>{{ category.name }}</td>
    </tr>
    {% endfor %}

    {% for lastproduct in lastproducts %}
    <tr>
        <td>{{ lastproducts.name }}</td>
        <td>{{ lastproducts.price }}</td>
    </tr>
    {% endfor %}
{% endblock %}
